# Use cson2json from cson-cli (npm) to convert this (Emacs does it for me).
manifest_version: 2
name: 'Github Tweaks.'
version: '0.1.1'
description: 'Make the issues and external links on a github issues page open in a new tab.
              Only have one tab per issue open.
              Update page title to have issue id first.
              '
content_scripts: [
  matches: ['https://github.com/*']
  js: ['github-issues-opener.js', 'bower_components/uri.js/src/URI.js']
]
background:
  scripts: ['background.js']
  # persistent: false
permissions: [
  'tabs'
]
icons:
  16: 'icon16.png'
  48: 'icon48.png'
  128: 'icon128.png'
